h2, h3 {
  margin: 10px;
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

p {
  margin: 10px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.map-overlay {
  position: absolute;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

/* 1) Title + hover info */
#features {
  top: 20px;
  width: 300px;
  max-height: 140px;
  overflow-y: auto;
}

/* 2) Supplementary information */
#info {
  top: 130px;
  width: 300px;
  max-height: 260px;
  overflow-y: auto;
  font-size: 14px;
  line-height: 1.4;
}

/* 3) Legend */
#legend {
  bottom: 25px;
  width: 200px;
  max-height: 260px;
  overflow-y: auto;
  line-height: 18px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.mapboxgl-canvas-container.mapboxgl-interactive,
.mapboxgl-ctrl-group button.mapboxgl-ctrl-compass {
  cursor: unset;
}
